version: '3'

services:
  mariadb:
    image: mariadb:10.6.2
    container_name: mariadb
    hostname: mariadb
    ports:
      - "3306:3306"
    volumes:
      - ./db/mariadb_init:/docker-entrypoint-initdb.d
#      - ./db/mariadb_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: netcore_lambda_example
      MYSQL_USER: lambda
      MYSQL_PASSWORD: dalamb
      MYSQL_ROOT_PASSWORD: root
