service: netcore-lambda-example
frameworkVersion: '2'

provider:
  name: aws
  region: ap-northeast-1
  runtime: dotnetcore3.1
  lambdaHashingVersion: 20201221
  stage: ${opt:stage, 'local'}
  stackName: ${self:service}-${self:provider.stage}-stack
  apiName: ${self:service}-${self:provider.stage}
  profile: default
  endpointType: regional
#  iam:
#    role: ${file(./env/${self:provider.stage}.json):LAMBDA_EXEC_ROLE_ARN}
#  vpc:
#    securityGroupIds:
#      - ${file(./env/${self:provider.stage}.json):VPC.SECURITY_GROUP_ID}
#    subnetIds:
#      - ${file(./env/${self:provider.stage}.json):VPC.SUBNET_ID_1}
  environment:
    ENVIRONMENT: ${file(./env/${self:provider.stage}.json):ENVIRONMENT, 'Default'}
    TZ: ${file(./env/${self:provider.stage}.json):TIMEZONE}

  deploymentBucket:
      name: ${self:service}-${self:provider.stage}-deployment
      maxPreviousDeploymentArtifacts: 10

plugins:
  - serverless-deployment-bucket
  - serverless-dotenv-plugin
custom:
#  endpoint: api/v1
  deploymentBucket:
    versioning: true
    blockPublicAccess: true

package:
  individually: true

functions:
  users:
    handler: UsersFunction::UsersFunction.Functions::Get
    package:
      artifact: UsersFunction/src/UsersFunction/bin/Release/netcoreapp3.1/UsersFunction.zip
    events:
      - httpApi:
          path: /users
          method: get
