service: netcore-lambda-example
frameworkVersion: '2'

provider:
  name: aws
  region: ap-northeast-1
  runtime: dotnetcore3.1
  lambdaHashingVersion: 20201221
  stage: ${opt:stage, 'local'}
  stackName: ${self:service}-${self:provider.stage}-stack
  apiName: ${self:service}-${self:provider.stage}
  profile: default
  endpointType: regional
  memorySize: 256
  timeout: 25
  iam:
    role: ${file(./env/${self:provider.stage}.json):LAMBDA_EXEC_ROLE_ARN}
  vpc:
    subnetIds:
      - ${file(./env/${self:provider.stage}.json):VPC.SUBNET_ID_1}
    securityGroupIds:
      - ${file(./env/${self:provider.stage}.json):VPC.SECURITY_GROUP_ID}
  environment:
    ENVIRONMENT: ${file(./env/${self:provider.stage}.json):ENVIRONMENT, 'Default'}
    TZ: ${file(./env/${self:provider.stage}.json):TIMEZONE}
    DB_CONN_STR: ${file(./env/${self:provider.stage}.json):DB_CONN_STR}

  deploymentBucket:
      name: ${self:service}-${self:provider.stage}-deployment
      maxPreviousDeploymentArtifacts: 10

plugins:
  - serverless-deployment-bucket
  - serverless-dotenv-plugin
custom:
  endpoint: api/v1
  deploymentBucket:
    versioning: true
    blockPublicAccess: true

package:
  individually: true

functions:
  usersGet:
    handler: UsersFunction::UsersFunction.GetUsersFunctions::GetUsers
    package:
      artifact: UsersFunction/src/UsersFunction/bin/Release/netcoreapp3.1/UsersFunction.zip
    events:
      - httpApi:
          path: ${self:custom.endpoint}/users
          method: get
